---
import PageLayout from '@layouts/PageLayout.astro'
import PocketBase from 'pocketbase'

import config from '../../config'

export const prerender = false

export async function getStaticPaths() {
  const pb = new PocketBase(config.apiBaseUrl)
  const signs = await pb.collection('category').getFullList()
  return signs.map(cat => ({
    params: { category: cat.slug },
  }))
}

const { category } = Astro.params

const pb = new PocketBase(config.apiBaseUrl)
const record = await pb
  .collection('category')
  .getFirstListItem(`slug="${category}"`, {
    fields: 'id, tag, expand.sign_via_Category.*',
    expand: 'sign_via_Category',
    sort: 'sign_via_Category.name',
  })
console.log(record)
---

<PageLayout>
  <div>
    <h1 class="text-5xl mb-8 font-display text-primary">{record.tag}</h1>
    <ul class="list bg-base-100 rounded-box shadow-md">
      {
        record.expand?.sign_via_Category.map((sign: any) => (
          <li class="list-row">
            <div>
              <div>N. m.</div>
              <div class="text-xs uppercase font-semibold opacity-60">
                {sign.name}
              </div>
            </div>
            <a href={`/signs/${sign.slug}`} class="text-primary btn btn-square btn-ghost">
              <i class="i-fa-solid-play-circle text-2xl"></i>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
