---
import PageLayout from '@layouts/PageLayout.astro'
import image from '@images/teach.jpg'

import useCategories from 'src/admin/composables/useCategories'

export const prerender = false

const { categories, loadCategories } = useCategories()
await loadCategories()
---

<PageLayout>
  <div>
    <h1 class="text-5xl mb-8 font-display text-primary">Toutes les catégories</h1>
    <div>
        <div class="col-span-12 md:col-span-8 grid grid-cols-2 gap-4">
            {
            categories.value.map(cat => (
              <div class="card bg-base-300 shadow-sm cursor-pointer hover:shadow-md transition-shadow hover:bg-primary">
                <div class="card-body items-center justify-center">
                  <h2 class="card-title">{cat.tag}</h2>
                </div>
              </div>
              <div class="grid gap-4">
                {
                    (cat.expand?.category_via_Parent || []).map((subcategory) => (
                    <div class="card bg-base-300 shadow-sm cursor-pointer hover:shadow-md transition-shadow hover:bg-primary" onClick={`location.href='/categories/${subcategory.slug}'`}>
                        <div class="card-body items-center justify-center">
                            <h2 class="card-title">{subcategory.tag}</h2>
                        </div>
                    </div>
                    ))
                }
                </div>
              ))
            }
        </div>
    </div>
  </div>
</PageLayout>
