---
import PageLayout from '@layouts/PageLayout.astro'
import image from '@images/teach.png'

import useCategories from 'src/admin/composables/useCategories'

export const prerender = false

const { categories, loadCategories } = useCategories()
await loadCategories()
---

<PageLayout>
  <div>
    <h1 class="text-5xl mb-8 font-display text-primary">Toutes les catégories</h1>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6">
            {
                categories.value.map(cat => (
                    <h2 class="text-2xl mb-4 font-display text-primary">
                        {cat.tag}
                        <ul class="list bg-base-100 rounded-box shadow-md mt-2">
                            {
                                (cat.expand?.category_via_Parent || []).map((subcategory) => (
                                <li class="list-row">
                                    <div class="flex flex-col justify-center">
                                        <div class="text-xs uppercase font-semibold opacity-60">
                                            {subcategory.tag}
                                        </div>
                                    </div>
                                    <a href={`/categories/${subcategory.slug}`} class="btn btn-square btn-ghost">
                                    <i class="i-fa-solid-play-circle text-2xl"></i>
                                    </a>
                                </li>
                                ))
                            }
                        </ul>
                    </h2>
                ))
            }
        </div>
        <div class="card card-md col-span-12 md:col-span-6 shadow-sm">
            <div class="card-body">
                <img
                src={image.src}
                alt="À propos de moi"
                class="max-w-sm rounded-lg shadow-2xl"
            />
                <p>
                    Explorez les différentes catégories de signes disponibles dans le lexique.
                </p>
            </div>
        </div>
    </div>
  </div>
</PageLayout>
