---
import aboutImg from '../assets/about.jpg'
---

<h1 class="text-5xl mb-8 font-display text-primary">À propos de moi</h1>
<div class="grid grid-cols-12 gap-4">
  <div class="card card-md col-span-12 md:col-span-6 shadow-sm">
    <div class="card-body text-2xl mb-8 col-span-12 md:col-span-6">
      <p>
        Bonjour! Je m'appelle Geetha et je suis la créatrice de ce lexique de
        la langue des signes française (LSF).
      </p>
      <p>
        Le but de ce projet est de fournir une ressource complète et
        accessible pour apprendre et comprendre la LSF. En tant que passionnée
        de la langue des signes, je crois fermement en l'importance de
        promouvoir l'inclusion et la communication pour tous.
      </p>
      <p>
        J'espère que ce lexique vous sera utile dans votre apprentissage de la
        LSF. N'hésitez pas à me contacter si vous avez des questions ou des
        suggestions!
      </p>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6">
    <img
      src={aboutImg.src}
      alt="À propos de moi"
      class="rounded-lg shadow-lg"
    />
  </div>
</div>
