---
import heroImg from '../assets/hero.jpg';
---
<section
  class="relative w-full min-h-[90vh] flex flex-col items-center justify-center text-center px-6 lg:px-16 py-16 md:py-32"
>
  <!-- Background Image -->
  <div
    class="absolute inset-0 bg-cover bg-center"
    style={`background-image: url(${heroImg.src})`}
  >
  </div>
  <div class="absolute inset-0 bg-black opacity-20"></div>

  <!-- Content -->
  <div class="relative z-10 text-white max-w-2xl pt-50">
    <h1 class="text-4xl md:text-6xl font-bold leading-tight">
      Un lexique
    </h1>
    <p class="mt-4 text-lg md:text-xl">
      pour les gouverner tous
    </p>
    <div class="mt-6">
      <a
        href="#"
        class="group px-6 py-3 bg-primary rounded-lg text-lg font-semibold transition inline-flex items-center"
      >
        Un signe au hasard
        <i
          class="fa-solid fa-arrow-right ml-2 transition-transform group-hover:translate-x-1"
        ></i>
      </a>
    </div>
  </div>
</section>