---
import SiteLayout from "./SiteLayout.astro";
import AuthGuard from "@components/AuthGuard.astro";
---

<AuthGuard />
<SiteLayout navBg="bg-black/80">
    <main class="container mx-auto mt-24 pb-4 flex flex-col h-min-[calc(100vh-5rem)]">
      <slot />
    </main>
</SiteLayout>