name: Release App

on:
  push:
    # branches:
    #   - master
    #   - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      # - name: Build app
      #   run: pnpm build

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: dist
      #     path: pb

  deploy:
    # uses: jota-one/infra/.github/workflows/deploy-app.yaml@feat/vps-deploy
    # with:
    #   build-artifact-name: dist
    # secrets: inherit
    # needs: build
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@v1.11.6
        id: app-token
        with:
          app-id: ${{ secrets.JOTA_INFRA_APP_ID }}
          private-key: ${{ secrets.JOTA_INFRA_APP_PRIVATE_KEY }}
          owner: jota-one

      - name: Run infra workflow
        run: |
          echo ${{ steps.app-token.outputs.token }} | gh auth login --with-token
          gh auth setup-git
          gh workflow run deploy-app.yaml --repo jota-one/infra
